body{
    font-size: 18px;
}


.text:hover{
    color: rgb(128, 54, 28);

  
}
.title{
    background-color: rgb(245, 239, 233);
    width: 340px;
}
.title-name{
    background-color: rgb(245, 239, 233);
    width: 300px;
}
.title-name:hover{
    position: relative;
    top: 5px;
    font-size: 20px;
}
.aside{
width: 300px;
background-color: rgb(229, 240, 219);
padding: 20px;
text-align: center;
}
.block{
    display:flex;
    width: 960px;
    
}
.social-icon:hover{
    position:relative;
    bottom: 5px;
}
.stady:hover{
    font-size: 20px;

}
.topbutton {
    width:50px;
    border:1px solid rgb(211, 65, 65);
    background:rgb(245, 239, 233);
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:rgb(150, 82, 82);
    font-family:verdana;
    font-size:12px;
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    }
    .next li {
        list-style-type: none; 
       }
      .next li:before {
        content: "- "; 
       }