html {
    font-family: "Ubuntu", "Tahoma", sans-serif;
    background-color: #d16a16;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-size: 10px 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    outline: none;

}

.topmenu > li {
    display: inline-block;
    position: relative;
}

.topmenu > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 3px;
    line-height: 20px;
    margin:10px;
    padding: 20px 50px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.down:after {

    margin-left: 18px;
    font-family: 'Ubuntu';
}

.submenu {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    z-index: 5;
    width: 150px;
    transition: .6s ease-in-out;
   
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    

}
.lines{
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.submenu li a {
    color: #eaeff3;
    ;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    padding: 5px 50px;
    font-family: 'Ubuntu', serif;
}

.row align-items-center {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    background-size: 20px 20px;
    
}

.row {
    outline: 2px solid gold;
    margin-top: 50px;
    margin-bottom: 30px;
     
}

.row div {
	min-height: 50px;
	background-color: lightblue;
    outline: 2px dotted red;
    
}

.my-item {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 0;
    
}



.kids{
   
    float: center-block;
    display: block;
    position: absolute;
    top: 10;
    left: 10;
    max-width:50%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }